services:
  postgres:
    image: postgres:18.1-bookworm
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1998
      POSTGRES_DB: heat_monitor
    ports:
      - "5432:5432"
    volumes:
      # - C:/heat-manager-server/pgdata:/var/lib/postgresql
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    restart: unless-stopped
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  backend:
    build: ./backend-go
    restart: always
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    volumes:
      - ./config.json:/app/config.json:rw

  frontend:
    build: ./frontend
    ports:
      - "81:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped

volumes:
  postgres_data:
  pgadmin_data:
