services:
  postgres:
    image: postgres:18.1-bookworm
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1998
      POSTGRES_DB: heat_monitor
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    restart: unless-stopped

  backend:
    build: ./backend-go
    restart: always
    depends_on:
      - postgres
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - ./config.json:/app/config.json:rw

volumes:
  postgres_data: